body {
  font-family: map-get($font-family, body);
  font-weight: map-get($font-weight, regular);
  color: map-get($brand, white);
  background-color: map-get($brand, black);
  font-size: 12px;
  @include responsive(md) {
    font-size: 14px;
  }
  @include responsive(xl) {
    font-size: 16px;
  }
}

h1, h2, h3,
h4, h5, h6 {
  font-family: map-get($font-family, heading);
  font-weight: map-get($font-weight, regular);
}

strong {
  font-weight: map-get($font-weight, bold);
}